---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Batnaps in the Dark</title>
	</head>
	<body>
		<h1>Batnaps in the Dark</h1>
		<p>Welcome to Batnaps in the Dark, an information site about Batnaps' Blades in the Dark Campaign!</p>
	</body>
</html>
